@use "../../scss/abstracts/" as *;

.basicInfo {
  // margin: 2rem 0;
  &__header {
    display: flex;
    flex-direction: row;
    gap : 1rem
  }
  &__box {
    display: flex;
    flex-direction: column; /* Align items in a column */
  }
}
